@font-face {
  font-family: "vairmatn";
  src: local("vairmatn"), url(./src/Vazirmatn-Medium.ttf) format(truetype);
}

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: vairmatn;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  flex-direction: column;
  /* gap: 16px; */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  /* height: 100%; */
  padding: 24px;
  width: 100%;
  gap: 20px;
}

.product {
  width: 180px;
  height: 240px;
  border-radius: 12px;
  background: rgb(0, 43, 43);
  box-shadow: 0px 0px 4px rgba(4, 165, 165, 0.6);
  transition: transform 200ms linear;
}

#load-more {
  transition: transform 200ms linear;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background: rgba(4, 165, 165, 0.6);
  box-shadow: 0px 0px 8px rgb(15, 108, 108);
}

.product:hover,
#load-more:hover {
  transform: scale(1.1);
}

.product-a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

.inside-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding: 8px;
}

.image {
  width: 120px;
  border-radius: 4px;
  display: block;
}

.title,
.price {
  font-size: 12px;
  text-align: center;
  direction: rtl;
}
