@font-face {
  font-family: "vairmatn";
  src: local("vairmatn"), url(./src/Vazirmatn-Medium.ttf) format(truetype);
}

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: vairmatn;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  flex-direction: column;
  /* gap: 16px; */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 24px;
  width: 100%;
  gap: 20px;
  transition: opacity 200ms linear;
}

.product {
  width: 180px;
  height: 240px;
  border-radius: 12px;
  background: rgb(0, 43, 43);
  box-shadow: 0px 0px 4px rgba(4, 165, 165, 0.6);
  transition: transform 200ms linear;
}

#load-more {
  transition: transform, padding, opacity, 200ms linear;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background: rgba(4, 165, 165, 0.6);
  box-shadow: 0px 0px 8px rgb(15, 108, 108);
  position: relative;
  opacity: 1;
  cursor: pointer;
}

#load-more.loading {
  padding-right: 30px;
  opacity: 0.4;
  cursor: no-drop;
}

#load-more.loading::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid;
  border-radius: 50px;
  border-color: #fff transparent;
  top: 50%;
  right: 0;
  animation: spiner 800ms infinite ease;
}

@keyframes spiner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.product:hover,
#load-more:hover {
  transform: scale(1.1);
}

.product-a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.inside-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  padding: 8px;
}

.image {
  width: 120px;
  border-radius: 4px;
  display: block;
}

.title,
.price {
  font-size: 12px;
  text-align: center;
  direction: rtl;
}

.title {
  height: 52px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
